<h2 class="text-center mb-4">Danh sách danh mục</h2>

<div class="text-center mb-3">
    <a href="/admin/category/create" class="btn btn-primary btn-sm">
        ➕ Thêm danh mục
    </a>
</div>

<div class="card shadow-lg border-0 rounded-4">
    <div class="card-body">
        <table class="table table-hover align-middle text-center">
            <thead class="table-dark">
            <tr>
                <th>Tên danh mục</th>
                <th>Hình ảnh</th>
                <th>Trạng thái</th>
                <th>Edit</th>
                <th>Xoa</th>

            </tr>
            </thead>
            <tbody>

            {{#each categories}}
                <tr>
                    <td>{{this.name}}</td>
                    <td>
                        {{#if this.image}}
                            <img src="{{this.image}}" alt="" class="img-thumbnail" width="80">
                        {{else}}
                            Không có
                        {{/if}}
                    </td>
                    <td>
                        {{#if this.status}}Hiển thị{{else}}Ẩn{{/if}}
                    </td>

                    <td>
                        <a href="/admin/category/edit/{{this._id}}"
                           class="btn btn-secondary btn-sm">
                            Sửa
                        </a>
                    </td>


                    <td>
                        <form
                                action="/admin/category/{{this._id}}?_method=DELETE"
                                method="POST"
                                onsubmit="return confirm('Bạn có chắc muốn xóa danh mục này?');"
                                style="display:inline-block"
                        >
                            <button type="submit" class="btn btn-danger btn-sm">
                                Xóa
                            </button>
                        </form>
                    </td>
                </tr>

            {{/each}}

            {{#unless categories.length}}
                <tr>
                    <td colspan="5">Chưa có danh mục</td>
                </tr>
            {{/unless}}

            </tbody>
        </table>
    </div>
</div>
