<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Login</title>

    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/sb-admin.css" rel="stylesheet">
</head>

<body class="bg-info">

<div class="container">
    <div class="card card-login mx-auto mt-5 shadow">
        <div class="card-header text-center">Login</div>

        <div class="card-body">

            {{#if error}}
                <div class="alert alert-danger">{{error}}</div>
            {{/if}}

            {{#if success}}
                <div class="alert alert-success">{{success}}</div>
            {{/if}}

            <form method="POST" action="/login">
                <input type="hidden" name="_csrf" value="{{csrfToken}}">

                <!-- EMAIL INPUT -->
                <div class="form-group mb-3">
                    <label>Email address</label>
                    <input
                            class="form-control {{#if emailError}}is-invalid{{/if}}"
                            name="email"
                            type="email"
                            placeholder="Enter email"
                            autocomplete="username"
                            required>

                    {{#if emailError}}
                        <div class="invalid-feedback">
                            {{emailError}}
                        </div>
                    {{/if}}
                </div>

                <!-- PASSWORD INPUT -->
                <div class="form-group mb-3">
                    <label>Password</label>
                    <input
                            class="form-control {{#if passwordError}}is-invalid{{/if}}"
                            name="password"
                            type="password"
                            placeholder="Password"
                            autocomplete="current-password"
                            required>

                    {{#if passwordError}}
                        <div class="invalid-feedback">
                            {{passwordError}}
                        </div>
                    {{/if}}
                </div>

                <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" name="remember" id="rememberCheck">
                    <label class="form-check-label" for="rememberCheck">
                        Remember Password
                    </label>
                </div>

                <button type="submit" class="btn btn-primary w-100">Login</button>
            </form>

            <div class="text-center mt-3">
                <a class="d-block small" href="/admin/register">Register an Account</a>
                <a class="d-block small" href="/admin/forgot-password">Forgot Password?</a>
            </div>

        </div>
    </div>
</div>

<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
</html>
