{{#if about}}
    <section class="about spad">
        <div class="container">

            <div class="section-title about-title">
                <h2>{{about.title}}</h2>
                <p>{{about.description}}</p>
            </div>

            <div class="about__feature">
                <div class="row">
                    {{#each about.features}}
                        <div class="col-lg-4 col-md-6">
                            <div class="about__feature__item">
                                <img src="{{this.icon}}">
                                <h5>{{this.title}}</h5>
                                <p>{{this.description}}</p>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>

            <div class="about__pic">
                <img src="{{about.image}}">
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="about__item">
                        <h5>Our Mission</h5>
                        <p>{{about.mission}}</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about__item">
                        <h5>Our Vision</h5>
                        <p>{{about.vision}}</p>
                    </div>
                </div>
            </div>

        </div>
    </section>
{{else}}
    <p style="text-align:center">❌ Không có dữ liệu About</p>
{{/if}}
