

<!-- Breadcrumb -->
<div class="breadcrumb-option set-bg" data-setbg="/img/breadcrumb-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Latest Blogs</h2>
                    <div class="breadcrumb__links">
                        <a href="/"><i class="fa fa-home"></i> Home</a>
                        <span>Our Blogs</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Blog Section -->
<section class="blog spad">
    <div class="container">
        <div class="row">

            <!-- BLOG LIST -->
            <div class="col-lg-9">
                <div class="row">
                    {{#each blogs}}
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="blog__item">
                                <a href="/blogs/{{this._id}}">
                                    <div class="blog__item__pic set-bg" data-setbg="{{this.image}}">
                                        <ul>
                                            <li>By {{this.author}}</li>
                                            <li>{{this.category}}</li>
                                        </ul>
                                    </div>
                                </a>
                                <div class="blog__item__text">
                                    <h5>
                                        <a href="/blogs/{{this._id}}">
                                            {{this.title}}
                                        </a>
                                    </h5>
                                    <p>
                                        {{this.description}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    {{/each}}

                    {{#unless blogs.length}}
                        <div class="col-12 text-center">
                            <p>Không có bài viết</p>
                        </div>
                    {{/unless}}
                </div>
            </div>

            <!-- SIDEBAR (GIỮ NGUYÊN GIAO DIỆN MẪU) -->
            <div class="col-lg-3 col-md-6 col-sm-9">
                <div class="blog__sidebar">
                    <form class="blog__sidebar__search">
                        <input type="text" placeholder="Search...">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>

                    <div class="blog__sidebar__categories">
                        <h4>Categories</h4>
                        <ul>
                            <li><a href="#">Siêu xe</a></li>
                            <li><a href="#">Xe thể theo</a></li>
                            <li><a href="#">Xe sang</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>



<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>
