{{#if blog}}

    <!-- Blog Details Hero -->
    <section class="blog-details-hero spad set-bg"
             data-setbg="/img/breadcrumb-bg.jpg">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-10">
                    <div class="blog__details__hero__text">
                        <span class="label">{{blog.category}}</span>
                        <h2>{{blog.title}}</h2>
                        <ul>
                            <li>
                                <i class="fa fa-user"></i>
                                <span>By {{blog.author}}</span>
                            </li>
                            <li>
                                <i class="fa fa-calendar-o"></i>
                                <span>{{blog.createdAt}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Blog Details Content -->
    <section class="blog-details spad">
        <div class="container">

            <!-- IMAGE -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="blog__details__pic">
                        <img src="{{blog.image}}" alt="{{blog.title}}">
                    </div>
                </div>
            </div>

            <!-- TEXT -->
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">

                    <div class="blog__details__text">
                        <p>{{blog.description}}</p>
                    </div>

                    <!-- SHARE -->
                    <div class="blog__details__share">
                        <a href="#" class="blog__details__share__item">
                            <i class="fa fa-facebook"></i><span>Share</span>
                        </a>
                        <a href="#" class="blog__details__share__item twitter">
                            <i class="fa fa-twitter"></i><span>Share</span>
                        </a>
                        <a href="#" class="blog__details__share__item google">
                            <i class="fa fa-google"></i><span>Share</span>
                        </a>
                    </div>

                    <!-- AUTHOR -->
                    <div class="blog__details__author">
                        <div class="blog__details__author__text">
                            <h5>{{blog.author}}</h5>
                            <p>Bài viết thuộc chuyên mục {{blog.category}}</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

{{else}}
    <p style="text-align:center">❌ Không tìm thấy bài viết</p>
{{/if}}
