{{#if car}}

    <!-- BREADCRUMB -->
    <div class="breadcrumb-option set-bg" data-setbg="/img/breadcrumb-bg.jpg">
        <div class="container text-center">
            <h2>{{car.name}}</h2>
            <div class="breadcrumb__links">
                <a href="/"><i class="fa fa-home"></i> Home</a>
                <a href="/car">Car Listing</a>
                <span>{{car.name}}</span>
            </div>
        </div>
    </div>

    <!-- CAR DETAILS -->
    <section class="car-details spad">
        <div class="container">
            <div class="row">

                <!-- LEFT -->
                <div class="col-lg-9">
                    <div class="car__details__pic__large">
                        <img src="{{car.image}}" alt="{{car.name}}">
                    </div>

                    <div class="car__details__tab__info__item">
                        <h5>General Information</h5>
                        <ul>
                            <li><i class="fa fa-check"></i> Name: {{car.name}}</li>
                            <li><i class="fa fa-check"></i> Price: {{car.price}}</li>
                            <li>
                                <i class="fa fa-check"></i>
                                Category:
                                {{#if car.category}}
                                    {{car.category.name}}
                                {{else}}
                                    N/A
                                {{/if}}
                            </li>
                            <li>
                                <i class="fa fa-check"></i>
                                Status:
                                {{#if car.status}}Available{{else}}Hidden{{/if}}
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- RIGHT -->
                <div class="col-lg-3">
                    <div class="car__details__sidebar__payment">
                        <ul>
                            <li>Price <span>{{car.price}}</span></li>
                        </ul>

                        <a href="#" class="primary-btn">
                            <i class="fa fa-credit-card"></i> Buy Now
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </section>

{{else}}
    <p style="text-align:center">❌ Không tìm thấy xe</p>
{{/if}}
