<style>
    .car__item__pic {
        height: 200px;
        overflow: hidden;
    }
    .car__item__pic img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
</style>

<div class="breadcrumb-option set-bg" data-setbg="/img/breadcrumb-bg.jpg">
    <div class="container text-center">
        <h2>Car Listing</h2>
    </div>
</div>

<section class="car spad">
    <div class="container">
        <div class="row">

            <div class="col-lg-3">
                <div class="car__sidebar">
                    <h5>Danh mục</h5>
                    <ul>
                        {{#each categories}}
                            <li>
                                <a href="/cars/category/{{this._id}}">
                                    {{this.name}}
                                </a>
                            </li>
                        {{/each}}
                    </ul>
                </div>
            </div>

            <div class="col-lg-9">
                <div class="row">
                    {{#each cars}}
                        <div class="col-lg-4 col-md-6">
                            <div class="car__item">
                                <div class="car__item__pic">
                                    <img src="{{this.image}}" alt="">
                                </div>
                                <div class="car__item__text">
                                    <h5>{{this.name}}</h5>
                                    <h6>{{this.price}}</h6>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>

        </div>
    </div>
</section>
