<!-- Breadcrumb -->
<div class="breadcrumb-option set-bg" data-setbg="/img/breadcrumb-bg.jpg">
    <div class="container text-center">
        <h2>Car Listing</h2>
    </div>
</div>

<!-- Car Section -->
<section class="car spad">
    <div class="container">
        <div class="row">

            <!-- SIDEBAR -->
            <div class="col-lg-3">
                <div class="car__sidebar">
                    <h5>Categories</h5>
                    <ul>
                        {{#each categories}}
                            <li>
                                <a href="/cars/category/{{this._id}}">
                                    {{this.name}}
                                </a>
                            </li>
                        {{/each}}
                    </ul>
                </div>
            </div>

            <!-- CAR LIST -->
            <div class="col-lg-9">
                <div class="row">

                    {{#each cars}}
                        <div class="col-lg-4 col-md-6">
                            <div class="car__item">

                                <div class="car__item__pic" style="height:200px;overflow:hidden">
                                    <img src="{{this.image}}"
                                         alt="{{this.name}}"
                                         style="width:100%;height:100%;object-fit:cover">
                                </div>

                                <div class="car__item__text">
                                    <h5>
                                        <a href="/car/{{this._id}}">
                                            {{this.name}}
                                        </a>
                                    </h5>

                                    <div class="car__item__price">
                                        <h6>{{this.price}}</h6>
                                    </div>

                                    <a href="/cars/{{this._id}}"
                                       class="primary-btn"
                                       style="display:block;text-align:center;margin-top:10px">
                                        Mua
                                    </a>
                                </div>

                            </div>
                        </div>
                    {{/each}}

                    {{#unless cars.length}}
                        <div class="col-12 text-center">
                            <p>❌ Không có xe trong danh mục này</p>
                        </div>
                    {{/unless}}

                </div>
            </div>

        </div>
    </div>
</section>
